header{
    background-image: url("http://preubb.ubiobio.cl/wp-content/uploads/2018/04/textura-fondo-azul-1573.jpg");
    height: 100px;
    opacity:0.9;
    font: small-caps 100%/200% serif;
}
.space{
    height: 20px;
}
.barra-modal{
    background-color:#276AA2; 
    color:white;
}
.content-menu{
    height: 40px; 
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#276AA2;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #36A3FF;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(233, 233, 233);
    color: black;
    text-align: center;
 }
 .close{
  color:white;
 }