@charset "ISO-8859-1";
.text-center{
	text-align: center;
}
header{
	background-color: #364773;
	color: white;
	height: 100px;
}
table{
	margin-top: 40px;
	border-radius: 5px;
}
.nava{
	background-color: #04B45F;
	color: white;
	bottom: auto;
}