<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="estilos">
<meta charset="ISO-8859-1">
<title th:include="this::titulo">Insert title here</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

</body>
</html>